openSUSE.tar.gz
openSUSE
Makefile~
*/*~
default-1600x1200.jpg
default-1920x1200.jpg
.DS_Store
*/.DS_Store
gnome/dynamic/
gnome/dynamic-wallpaper-localtest.xml
gnome/dynamic-wallpaper-localtest-fast.xml
default-1280x1024.jpg
default-1920x1080.jpg
gnome/morning-1280x1024.png
gnome/morning-1920x1080.png
gnome/night-1280x1024.png
gnome/night-1920x1080.png

