body {
  font-family: 'Droid Sans', Sans-serif;
/*  font-size: 12px; */
  font-size: 0.75em;
  padding: 0; margin: 0;
  line-height: 150%;
}

h1,h2,h3,h4,h5 {
  font-family: WallaWalla, Sans-Serif;
}

  h1 { font-size: 250%; }
  h2 { font-size: 230%; }
  h3 { font-size: 200%; }
  h4 { font-size: 180%; }
  h5 { font-size: 150%; }

a { color: #73b925; text-decoration: none; border-bottom: 1px solid #73b925;}
  a:visited { color: #63a915; border-bottom: 1px solid #63a915; }

ul li {
  list-style-image: url(../images/bullet.png);
  line-height: 200%;
}

code {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 1px 0.5em;
  line-height: 228%;
}

.container {
  max-width: 940px;
  padding: 0 40px;
  margin: 0 auto;
}

.twocolumn {
  overflow: hidden;
}

  .column {
    float: left;
    /* width: 460px; */
    width: 48%;
    padding: 0;
  }
  .column:first-child {
    padding-right: 20px;
  }

.header {
  background-color: #73ba25;
  color: white;
  min-height: 92px;
  border-bottom: 6px solid #808c73;
  margin-bottom: 2em;
}

  .header.frontpage {
    background-color: #a7b992;
    margin-bottom: 0;
  }

  .header>div.container {
    height: 92px;
    position: relative;
  }

  .title {
    position: absolute;
    bottom: 10px; left: 40px;
    font-size: 200%;
  }
  
  #geeko {
    width: 27px; height: 27px;
    border: none;
    vertical-align: middle;
  }
  
  .menu {
    font-family: WallaWalla, Sans-Serif;
    font-weight: bold;
    font-size: 140%;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 40px; bottom: 10px;
    margin: 0;
  }
  .menu li {
    display: block;
    float: right;
    margin-left: 1em;
  }
  .header a {
    text-decoration: none;
    border: none;
    color: #fff;
  }
  
  .title span {
  }

#splash {
  background: #73b925 url(../images/splash-bg.png) repeat-x 0 0;
  height: 457px;
  color: white;
}
  
  #splash>.container {
    position: relative;
    height: 457px;
  }

  .bigicon {
    position: absolute;
    width: 300px;
    left: 80px;
    bottom: 80px;
    text-align: center;
    z-index: 2;
    color: #000;
  }
  
  .bigicon h1 {
    margin: 0;
  }
  
  #splashHalo {
    width: 438px; height: 262px;
    background: url(../images/halo.png) no-repeat 0 0;
    position: absolute;
    bottom: 40px; left: 10px;
    z-index: 1;
  }
  
  .punchline {
    position: absolute;
    bottom: 80px; right: 40px;
    left: 460px;
    line-height: 200%;
  }
  .punchline p {
    font-size: 120%;
  }
  
/*
 * Screenshots
 */

.screenshots {
    min-height: 180px; 
    z-index: 3; 
    padding: 40px 0; 
    background-color: #e0e7d9;
/*    background: #e0e7d9 url(../images/texture.png) repeat 0 0;*/
    margin-bottom: 20px;
    overflow: hidden;
}

  .screenshots > div.container { 
      max-width: 956px; 
      padding: 0; 
      margin: 0 auto;
      position: relative; 
      text-align: center;
  }

  .screenshots > div > div { 
    display: -moz-inline-box; /* firefox2 */
    display: inline-block;
    vertical-align: top;
    padding: 0; margin: 0 8px;
  }
    
    .screenshots > div > div.last {
    }

  .screenshots > div > div:hover {

  }

  .screenshots a { 
     display: block; 
     position: relative;
     border: none;
  }

  .screenshots a>img {
     border: 4px solid #babdb6;
     -moz-border-radius: 4px; 
     border-radius: 4px;
     -webkit-border-radius: 4px;
  }
  .screenshots .loupe {
    display: block;
    position: absolute;
    width: 34px; height: 34px;
    bottom: 16px; right: 12px;
    background: url(../images/loupe.png) no-repeat 0 0;
  }

.linkBar {
    min-height: 180px; 
    z-index: 3; 
    padding: 40px 0; 
/*    background: #e0e7d9 url(../images/texture.png) repeat 0 0;*/
    background-color: #e0e7d9;
    margin: 20px 0;
    overflow: hidden; 
}
  div.links {
    display: -moz-inline-box; /* firefox2 */
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    margin-right: 2em;
  }

  .links a {
    color: #5d7555;
    font-weight: bold;
    text-decoration: none;
    border: none;
  }
  
  .links h4 {
    margin: 0 0 1em;
    font-size: 140%;
  }

.footer {
  max-width: 880px;
  min-height: 90px;
  padding: 0 40px 0 100px;
  color: #666;
  font-size: 90%;
  margin: 1em auto;
  background: url(../images/geeko-footer.png) no-repeat 40px 0;
}

