[Desktop Entry]
Name=Stripes: openSUSE (gray)

X-KDE-PluginInfo-Name=Stripes-openSuse-gray
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-License=GPLv3
